li {
  font-size: 1rem;
  text-align: left;
}

li + li {
  margin-top: 20px;
}

.taskText {
  color: blue;
  font-weight: 500;
  font-size: 1.5rem;
}

.options {
  margin-top: 7px;
}

.remove {
  background-color: crimson;
  color: #fff;
  padding: 5px 10px;
  border-radius: 1rem;
}

.remove:hover {
  text-shadow: -5px 5px 5px rgba(255, 255, 255, 0.7);
  transition-duration: 200ms;
}

.remove:active {
  transform: translateY(1px);
  transition-duration: 200ms;
}

.upper,.lower {
  position: relative;
}

.upper::before,.lower::before {
  content: ""; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%; 
  height: 100%; 
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 50%; 
  position: absolute; 
  top: 0; 
  left: 30; 
}

.upper:hover, .lower:hover {
  transform: scale(1.15);
  transition-duration: 300ms;
}