
.square,.squareDisabled {
  width: 100px;
  height: 100px;
  border: 1px solid darksalmon;
  background-color: pink;
  color: teal;
  font-weight: bold;
  font-size: 3rem;
}

.squareDisabled {
  cursor: auto;
  filter: blur(3px);
}

.winCombination {
  color: red;
}